[submodule "libs/asi-http-request"]
	path = libs/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "libs/nimbus"]
	path = libs/nimbus
	url = https://github.com/mobomo/nimbus.git
[submodule "libs/SVPullToRefresh"]
	path = libs/SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
