<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>your development key</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>your development secret</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>your production key</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>your production secret</string>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<false/>
</dict>
</plist>
