<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="zepto.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="wh.js"></script>
    <link rel="stylesheet" type="text/css" href="wh.css"></link>

    <!-- the template used to display the pageInfo object passed to WhiteHouse.loadPage -->
    <script id="template" type="text/template">
      <h1><%= title %></h1>
      <p class="dateline">
	by <%= creator %><br />
	<%= date %>
      </p>
      <div class="content">
	<%= description %>
      </div>
    </script>
  </head>
  <body>
    <!-- div content is completely replaced by result of template -->
    <div id="article"></div>
  </body>
</html>
